<!DOCTYPE html>
<html >

	<head>
	    <title></title>
	    <!-- Bootstrap CSS -->
	    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">
	</head>
	
	<body >
		<div ng-app="myApp">
		    <div ng-controller="AppCtrl">
		        <div ng-repeat="item in itemList">
		            <div>
		                <select ng-options="addressType.name for addressType in item.addressTypes" 
		                ng-model="addressType" ng-change="toggleAFlag(addressType)"></select>
		            </div>
		            <div>
		                <!-- <input type="text" ng-model="addressType.AFlag" my-directive ></input> -->
		                 <input type="text" ng-model="value" my-directive customAttr="{{AFlag}}"></input>
		            </div>
		        </div>
		    </div>
		</div> 
		<!-- Angular -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="../third-party/jquery.v1.8.0.js"> </script>
		<!-- UI-Router -->
		
		<!-- App Script -->
		<script src="ngrepeat-directive.js"> </script>
	</body>
	
</html>